<%= stylesheet_link_tag '/css/cover' %>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Coder Restaurant</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">THE FOOD YOU LOVE,
		DELIVERED TO YOUR DOOR.</h1>
		<br>
        <p class="lead">Get amazing food from an incredible selection of local restaurants delivered in an average of just 32 minutes.</p>
        <br>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Find food</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>1<sup>st</sup> week assignment @ <a href="http://www.coderschool.vn/">Coderschool.vn</a>, by <a href="mailto:hoksilato176@gmail.com">Cang Ta</a>.
          <br>Theme inspired by <a href="https://deliveroo.co.uk">DELIVEROO</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>
